.rel{
  /* static을 기준으로 상대적 배치 */
  position: relative;
  right: 100px;
  bottom: 100px;
}

div{
  border: 1px solid red;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 200px;
}

.abs{
  width: 100px;
  height: 100px;

  /* static기준이 아니라 부모요소가 기준이 된다 */
  /* 단 부모가 static이 아니여야 한다 */
  /* 만약 부모가 static이면 그 상위 요소로 넘아가게됨 */
  position: absolute;

  /* 부모요소의 정 중앙 값 */
  /* top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); */

  top: 0;
  right: 100.2%;
  
}