
h1::before{
  content: "★";
  color: rgb(243, 160, 65);
}

h1::after{
  content: "new";
  background-color: rgb(201, 235, 13);
  color: rgb(243, 21, 69);
  font-size: 12px;
  border-radius: 5px;
  position: absolute;
}

.img {
  width: 500px;
  height: 500px;
  background: url('../../images/galio.jpg') no-repeat;
  background-size: cover;

  position: relative;
}

.img::before{
  content: "이미지글씨";
  color: aliceblue;
  font-size: 60px;
  text-align: center;
  line-height: 500px;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content{
  background: rgb(182, 253, 253);
  width: calc(100% - 200px);
}

.aside{
  background: rgb(209, 173, 243);
  width: 200px;
}

.container > div{
  float: left;
  height: 50px;
}

/* 인라인, 인라인블록들 세로 가운데 */
.wrapper > b{
  font-size: 100px;
  vertical-align: middle;
}