/* 전체선택자 */
/* *{} 모든 곳에 적용하고 초기화 할때 사용*/
*{
color: rgb(1, 136, 73);
}

/* 태그 선택자 */
h1{
  background-color: rgb(241, 195, 224);
}

h2{
  background-color: rgb(226, 200, 166);
}


/* #{} 표시 기억 =id선택자 */
#title{
  text-align: center;
}

/* 클래스 선택자 */
/*  .점 표시는 클래스를 의미 */
/* 여러 선택자를 동시에 적용하려면 ,쉼표 로 구분한다. */
.color, h3{
  font-size: 30;
  color: rgb(29, 11, 107);
}
